In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("D:\\Projects\\aave_credit_score\\app\output\\wallet_features.csv")

In [11]:
df

,userWallet,n_txns,n_deposits,n_borrows,n_repays,n_redeems,n_liquidations,total_deposited_usd,total_borrowed_usd,unique_assets,active_days,txn_per_day
0,0x00000000001accfa9cef68cf5371a23025b6d4b6,1,1,0,0,0,0,1.987664e+09,0.000000e+00,1,1,1.000000
1,0x000000000051d07a4fb3bd10121a343d85818da6,1,1,0,0,0,0,2.856945e+20,0.000000e+00,1,1,1.000000
2,0x000000000096026fb41fc39f9875d164bd82e2dc,2,2,0,0,0,0,5.152311e+15,0.000000e+00,1,8,0.250000
3,0x0000000000e189dd664b9ab08a33c4839953852c,17,0,0,0,17,0,0.000000e+00,0.000000e+00,4,130,0.130769
4,0x0000000002032370b971dabd36d72f3e5a7bf1ee,399,250,15,4,130,0,2.065773e+23,6.029762e+22,6,133,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
3492,0x06185db89f5c8ef5e5a0abc95c5cb69b54c33f30,1,1,0,0,0,0,9.871628e+01,0.000000e+00,1,1,1.000000
3493,0x06189341e523a52ae10c4bd4a7774371fac1b249,7,4,1,0,2,0,1.272592e+19,2.330736e+18,3,1,7.000000
3494,0x0618c450370822c5cb25ec143a3008230d8e2c12,5,1,0,0,4,0,3.530977e+22,0.000000e+00,4,1,5.000000
3495,0x0618e615c8c9b5efc8c8eadc68be7182bdc455e2,22,13,2,2,5,0,6.793268e+21,1.202218e+09,7,32,0.687500
3496,0x06192f889f17bf2aff238d08d8c26cbcfcc7b45a,183,53,48,36,46,0,3.287158e+23,2.719781e+23,7,60,3.050000